__pycache__/
# Ignore all Excel files that start with 'Table_' and end in '.xlsx'
Table_*.xlsx

*.pyc

token.json

credentials.json

.venv/

.env

.lock

timetable_converted.xlsx

.history/*

../FastAPI/

tempCodeRunnerFile.*

*.csv

split_sheets/

node_modules/
